<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
    <title>Password change</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'CSS/offcanvas.css' %}" rel="stylesheet">
</head>


<body>
<!--canvas navbar-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#"><strong>Online Assignment Submission Portal</strong></a>

        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mx-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">Administration</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="Add_assignment_p">Add Assignment</a></li>
                        <li><a class="dropdown-item" href="Add_Subject_P">Add Subject</a></li>
                        <li><a class="dropdown-item" href="Add_User">Add New User</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown"
                       aria-expanded="false">Reports</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="Student_Report">Student Report</a></li>
                        <li><a class="dropdown-item" href="Admin_Report">Admin Report</a></li>
                        <li><a class="dropdown-item" href="Teacher_Report">Teacher Report</a></li>
                        <li><a class="dropdown-item" href="#">Assignment Report</a></li>
                        <li><a class="dropdown-item" href="#">Subject Report</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                       aria-expanded="false">My Account</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                        <li><a class="dropdown-item" href="#">Change Profile Picture</a></li>
                        <li><a class="dropdown-item" href="#">Login to another account</a></li>
                    </ul>
                </li>
            </ul>


            <!--     button    -->
            <div class="d-flex">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-warning btn-outline-primary text-dark" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        <a class="text-decoration-none text-dark" href="{% url 'Admin_Logout' %}">Logout</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--canvas end-->


<!------------------------------------------------------------------------------------------------------------->

<!--    Form Start  -->
<div class="container justify-content-center bg-dark text-white mt-5" style="width: 800px;">

    <h1 class="p-2 text-warning">Password Change</h1>
    <hr>

    <p class="py-2 fs-7">Please enter your old password, for security sake, and then enter your new password twice so we
        can verify you typed it in correctly.</p>

    <form action="change_pass" method="post">
        {% csrf_token %}
        <label class="py-2">Old Password</label><input type="password" name="Old_p" required class="form-control">

        <hr>
        <!--  <form action="change_pass" method="post">-->
        <div class="md-form md-outline">
            <label class="py-2">New password</label><input type="password" name="New_p" required class="form-control">
            <div class="help fs-8">
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>


        </div>
        <br>

        <div class="md-form md-outline">
            <label class="py-2" for="newPassConfirm">Confirm password</label>
            <input type="password" id="newPassConfirm" required name="Confirm_p" class="form-control">

        </div>

        <hr>
        <center>
            <button type="submit" class="btn btn-danger btn-outline-success text-white mb-4">
                <a class="text-decoration-none text-white"> Change password</a></button>
        </center>
    </form>


</div>


{% if msg11 %}
<script>alert('New and Confirm Password does not match !');</script>
{% endif %}

{% if msg22 %}
<script>alert('Old Password Incorrect');</script>
{% endif %}

{% if set_msg1 %}
<script>alert('Password Changed Successfully');</script>
{% endif %}

<!--Form end-->

<script src="{% static 'JavaScript/offcanvas.js' %}"></script>
</body>
</html>
